version: "3.9"

services:
  webhookserver:
    build:
      context: .
      dockerfile: docker/Dockerfile
    container_name: webhook-server
    ports:
      - "7001:7001"
    env_file:
      - .env
    environment:
      - NODE_OPTIONS=--dns-result-order=ipv4first
    volumes:
      - ./uploads:/app/uploads
    depends_on:
      - mongo
    restart: unless-stopped

  mongo:
    image: mongo:6
    container_name: webhook-mongo
    volumes:
      - mongo_data:/data/db
    restart: unless-stopped

volumes:
  mongo_data:
