# docker-compose.yml
version: "3.9"

services:
  webhookserver:
    build:
      context: .
      dockerfile: docker/Dockerfile
    container_name: webhook-server
    ports:
      - "7001:7001"
    env_file:
      - .env
    volumes:
      - ./uploads:/app/uploads
    depends_on:
      - mongo

  mongo:
    image: mongo:6
    container_name: webhook-mongo
    ports:
      - "27018:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
